<h1 class="text-center"> Edit Job </h1>

  <%= simple_form_for @job do |f| %>

    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.submit "Submit", disable_with: "Submiting....", class:"btn btn-primary" %>

  <% end %>
