<h3> Submit Resume to <%= @job.title %> </h3>

  <%= simple_form_for [@job, @resume] do |f| %>

    <%= f.input :content %>
    <%= f.submit "Submit", disable_with: "Submitting", class:"btn btn-primary" %>

  <% end %>
